@model DashboardDto;
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<table class="table">

    <thead class="thead-dark">
        <tr>
            <th scope="row">Ticker</th>
            <th scope="row">Volumen</th>
            <th scope="row">Price</th>
            <th scope="row">Buy Date</th>
            <th scope="row">Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.UserWallet?.Assets.Count == 0)
        {
            <tr><td colspan="5">No assets in your Wallet. You can buy it!</td></tr>
        }
        else
        {

            @foreach (var asset in Model.UserWallet?.Assets)
            {
                var id = $"asset" + asset.Name;
                <tr id="@id">
                    <td>@asset.Name</td>
                    <td>@asset.Volumen</td>
                    <td>@asset.BuyPrice</td>
                    <td>@asset.BuyDT</td>
                    
                    <td><button class="btn btn-danger" onclick="OpenSellInstrumentForm('@asset.Name','@asset.BuyPrice','@asset.Volumen' )">Sell</button></td>
                </tr>
            }
        }
    </tbody>
</table>