@model DashBoardDto;
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<table class="table">
    <thead class="thead-dark">
        <tr>
            
            <th scope="col">Ticker</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Volumen</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody id="instrumentsList">
        @foreach (var instrument in Model.Instruments)
        {
            var identificator = $"instrument"+ @instrument.Id.ToString();

            <tr id=@identificator data-toggle="tooltip" title= "@instrument.Description">
                <td>@instrument.Ticker</td>
                <td>@instrument.Name</td>
                <td class="instrument-price-item" > ajax</td>
                <td class="instrument-volumen-item"> ajax</td>
                <td><button class="btn btn-success" onclick="OpenBuyInstrumentForm('@instrument.Ticker', '@identificator')">buy</button></td>
            </tr>
        }
    </tbody>
</table>
